<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<!--
      ************************************************************
      * Begin client configurations for the opticalSignedAuthorization
      ************************************************************
      -->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/V2009/12/security/opticalSignedAuthorization"
					   behaviorConfiguration=""
					   binding="wsHttpBinding" bindingConfiguration="MessageWindowsBindingConfig"
					                    contract="Itron.Ami.Facade.WebServices.Security.V200912.ClientProxy.OpticalSignedAuthorizationService"
					   name="SignedAuthorizationKerberosClient" >
				<!--required when Kerberos authentication is enforced and the service is running under a default service account or domain account; 
        In the latter case, an SPN needs to be setup for the domain account in AD using setspn.exe tool.
          refer to http://marbie.wordpress.com/2008/05/30/kerberos-delegation-and-service-identity-in-wcf/
        
				<identity>
					<servicePrincipalName value="host/OCN-RD-SWCETEST.itron.com"/>
				</identity>-->
			</endpoint>
			<endpoint address="https://ocn-rd-swcetest:8204/ami/V2009/12/security/opticalSignedAuthorization"
					   behaviorConfiguration=""
					   binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
					                    contract="Itron.Ami.Facade.WebServices.Security.V200912.ClientProxy.OpticalSignedAuthorizationService"
					   name="SignedAuthorizationUsernameClient" >
			</endpoint>
			<!--
      ************************************************************
      * End client configurations for the opticalSignedAuthorization
      ************************************************************
      -->
			
			<!--
      ************************************************************
      * Begin client configurations for the InternalAPIManager
      ************************************************************
      -->
			<!--endpoint config for unsecured behavior-->
			<endpoint address="net.tcp://ocn-rd-swcetest:8300/JobManagerInternal"
       binding="netTcpBinding" bindingConfiguration="InternalNetTcp"
       contract="Itron.Ami.Facade.WebServices.Internal.ClientProxy.IInternalAPIManagerService"
       name="InternalNetTcp" /> 
		
			<!--
      ************************************************************
      * End client configurations for the InternalAPIManager
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the ControlService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/control"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Control.V200810.ClientProxy.ControlService"
       name="ControlUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/control"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Control.V200810.ClientProxy.ControlService"
       name="ControlUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/control/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Control.V200810.ClientProxy.ControlService"
        name="ControlCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/control"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Control.V200810.ClientProxy.ControlService"
        name="ControlUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/control"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Control.V200810.ClientProxy.ControlService"
       name="ControlSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the ControlService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the HanService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/han"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Han.V200810.ClientProxy.HanService"
       name="HanUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/han"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Han.V200810.ClientProxy.HanService"
       name="HanUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/han/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Han.V200810.ClientProxy.HanService"
        name="HanCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/han"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Han.V200810.ClientProxy.HanService"
        name="HanUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/han"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Han.V200810.ClientProxy.HanService"
       name="HanSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the ControlService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the DataService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/data"
     behaviorConfiguration="DefaultClientBehavior"
     binding="basicHttpBinding"
     bindingConfiguration="ExternalBasicHttpBindingConfig"
     contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataService"
     name="DataUnsecuredClient" >
			</endpoint>

			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/data"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataService"
       name="DataUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/data/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataService"
        name="DataCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/data"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataService"
        name="DataUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/data"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataService"
       name="DataSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the DataService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the RequestService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/request"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Common.V200810.ClientProxy.RequestService"
       name="RequestUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/request"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Common.V200810.ClientProxy.RequestService"
       name="RequestUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/request/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Common.V200810.ClientProxy.RequestService"
        name="RequestCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/request"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Common.V200810.ClientProxy.RequestService"
        name="RequestUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/request"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Common.V200810.ClientProxy.RequestService"
       name="RequestSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the RequestService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the ProvisioningService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2009/08/provisioning"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Provisioning.V200908.ClientProxy.ProvisioningService"
       name="ProvisioningUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/provisioning"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Provisioning.V200908.ClientProxy.ProvisioningService"
       name="ProvisioningUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/provisioning/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Provisioning.V200908.ClientProxy.ProvisioningService"
        name="ProvisioningCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2009/08/provisioning"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Provisioning.V200908.ClientProxy.ProvisioningService"
        name="ProvisioningUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2009/08/provisioning"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Provisioning.V200908.ClientProxy.ProvisioningService"
       name="ProvisioningSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the ProvisioningService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the ReportService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2009/08/reporting"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200908.ClientProxy.ReportService"
       name="ReportingUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/reporting"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200908.ClientProxy.ReportService"
       name="ReportingUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/reporting/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Reporting.V200908.ClientProxy.ReportService"
        name="ReportingCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2009/08/reporting"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Reporting.V200908.ClientProxy.ReportService"
        name="ReportingUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2009/08/reporting"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200908.ClientProxy.ReportService"
       name="ReportingSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the ReportService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the V200810 ReportService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/reporting"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200810.ClientProxy.ReportService"
       name="ReportingUnsecuredClientV200810" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/reporting"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200810.ClientProxy.ReportService"
       name="ReportingUsernameOverTransportClientV200810" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/reporting/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Reporting.V200810.ClientProxy.ReportService"
        name="ReportingCertificateClientV200810" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/reporting"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Reporting.V200810.ClientProxy.ReportService"
        name="ReportingUsernameClientV200810" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/reporting"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Reporting.V200810.ClientProxy.ReportService"
       name="ReportingSamlClientV200810" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the V200810 ReportService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the SubscriptionService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2009/08/subscriptions"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Subscriptions.V200908.ClientProxy.SubscriptionService"
       name="SubscriptionUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/subscriptions"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="UsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Subscriptions.V200908.ClientProxy.SubscriptionService"
       name="SubscriptionUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2009/08/subscriptions/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Subscriptions.V200908.ClientProxy.SubscriptionService"
        name="SubscriptionCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2009/08/subscriptions"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="UsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Subscriptions.V200908.ClientProxy.SubscriptionService"
        name="SubscriptionUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2009/08/subscriptions"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="SamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Subscriptions.V200908.ClientProxy.SubscriptionService"
       name="SubscriptionSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the SubscriptionService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin client configurations for the EndpointMembershipService
      ************************************************************
      -->

			<!--endpoint config for unsecured behavior-->
			<endpoint address="http://ocn-rd-swcetest:8103/ami/2008/10/membership"
       behaviorConfiguration="DefaultClientBehavior"
       binding="basicHttpBinding" bindingConfiguration="MtomExternalBasicHttpBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Membership.V200810.ClientProxy.EndpointMembershipService"
       name="MembershipUnsecuredClient" >
			</endpoint>
			<!--endpoint config for UsernameOverTransport security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/membership"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="MtomUsernameOverTransportBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Membership.V200810.ClientProxy.EndpointMembershipService"
       name="MembershipUsernameOverTransportClient" >
			</endpoint>
			<!--endpoint config for mutual certificates security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8203/ami/2008/10/membership/CertOnly"
        behaviorConfiguration="CertificateBehavior"
        binding="basicHttpBinding" bindingConfiguration="MtomCertificateBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Membership.V200810.ClientProxy.EndpointMembershipService"
        name="MembershipCertificateClient" >
			</endpoint>
			<!--endpoint config for Basic security behavior-->
			<endpoint address="https://ocn-rd-swcetest:8204/ami/2008/10/membership"
        behaviorConfiguration="DefaultClientBehavior"
        binding="basicHttpBinding" bindingConfiguration="MtomUsernameBindingConfig"
        contract="Itron.Ami.Facade.WebServices.Membership.V200810.ClientProxy.EndpointMembershipService"
        name="MembershipUsernameClient" >
			</endpoint>
			<!--endpoint config for Saml security behavior-->
			<endpoint address="http://ocn-rd-swcetest:8104/ami/2008/10/membership"
       behaviorConfiguration="CertificateBehavior"
       binding="customBinding" bindingConfiguration="MtomSamlClientBindingConfig"
       contract="Itron.Ami.Facade.WebServices.Membership.V200810.ClientProxy.EndpointMembershipService"
       name="MembershipSamlClient" >
			</endpoint>

			<!--
      ************************************************************
      * End client configurations for the EndpointMembershipService
      ************************************************************
      -->
		</client>
		<services>
			<!--
      ************************************************************
      * Begin service configurations for the DataSubscriberService
      ************************************************************
      -->
      <service behaviorConfiguration="DefaultBehavior" name="Itron.Ami.CEWSClientHosting.DataSubscriberService">
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataSubscriberService"/>

        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Data.V200810.ClientProxy.DataSubscriberService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
        <host>
          <baseAddresses>
            <add baseAddress="http://ocn-rd-bmcdonal:9312/Client/DataSubscriberService"/>
            <add baseAddress="https://ocn-rd-bmcdonal:9312/Client/DataSubscriberService"/>
          </baseAddresses>
        </host>
      </service>


			<!--
      ************************************************************
      * End service configurations for the DataSubscriberService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin service configurations for the EventSubscriberService
      ************************************************************
      -->


      <service behaviorConfiguration="DefaultBehavior" name="Itron.Ami.CEWSClientHosting.EventSubscriberService">
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Subscriptions.V200810.ClientProxy.EventSubscriberService"/>

        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Subscriptions.V200810.ClientProxy.EventSubscriberService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://ocn-rd-bmcdonal:9312/Client/EventSubscriberService"/>
            <add baseAddress="https://ocn-rd-bmcdonal:9312/Client/EventSubscriberService"/>
          </baseAddresses>
        </host>
      </service>


			<!--
      ************************************************************
      * End service configurations for the EventSubscriberService
      ************************************************************
      -->

			<!--
      ************************************************************
      * Begin service configurations for the ExceptionSubscriberService
      ************************************************************
      -->

      <service behaviorConfiguration="DefaultBehavior" name="Itron.Ami.CEWSClientHosting.ExceptionSubscriberService">
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="ExternalBasicHttpBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Subscriptions.V200810.ClientProxy.ExceptionSubscriberService"/>

        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="CertificateBindingConfig"
                  contract="Itron.Ami.Facade.WebServices.Subscriptions.V200810.ClientProxy.ExceptionSubscriberService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://ocn-rd-bmcdonal:9312/Client/ExceptionSubscriberService"/>
            <add baseAddress="https://ocn-rd-bmcdonal:9312/Client/ExceptionSubscriberService"/>
          </baseAddresses>
        </host>
      </service>


			<!--
      ************************************************************
      * End service configurations for the ExceptionSubscriberService
      ************************************************************
      -->

		</services>
		<bindings>
			<netTcpBinding>
				<binding name="InternalNetTcp" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                    maxReceivedMessageSize="65536">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
			<customBinding>
				<binding name="SamlClientBindingConfig">
					<security authenticationMode="IssuedToken"
          messageProtectionOrder="SignBeforeEncrypt">
						<issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
							<issuer address="https://ocn-rd-swcetest:8203/SecurityTokenService"
         bindingConfiguration="StsServerBindingConfig"
         binding="customBinding">
							</issuer>
						</issuedTokenParameters>
					</security>
					<httpTransport/>
				</binding>
				<binding name="MtomSamlClientBindingConfig">
					<security authenticationMode="IssuedToken"
      messageProtectionOrder="SignBeforeEncrypt">
						<issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
							<issuer address="https://ocn-rd-swcetest:8203/SecurityTokenService"
         bindingConfiguration="StsServerBindingConfig"
         binding="customBinding">
							</issuer>
						</issuedTokenParameters>
					</security>
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpTransport/>
				</binding>
				<binding name="StsServerBindingConfig">
					<security authenticationMode="UserNameOverTransport"
         requireSecurityContextCancellation="false"
         requireSignatureConfirmation="false"
         messageProtectionOrder="SignBeforeEncrypt"
         requireDerivedKeys="true" />
					<textMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpsTransport requireClientCertificate="true" />
				</binding>
				<binding name="MtomStsServerBindingConfig">
					<security authenticationMode="UserNameOverTransport"
         requireSecurityContextCancellation="false"
         requireSignatureConfirmation="false"
         messageProtectionOrder="SignBeforeEncrypt"
         requireDerivedKeys="true" />
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
					<httpsTransport requireClientCertificate="true" />
				</binding>
				<!--both the userName and certificate of the client are validated during client authentication -->
				<binding name="UsernameOverTransportBindingConfig">
					<security authenticationMode="UserNameOverTransport">
					</security>
					<textMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpsTransport requireClientCertificate="true" />
				</binding>
				<binding name="MtomUsernameOverTransportBindingConfig">
					<security authenticationMode="UserNameOverTransport">
					</security>
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpsTransport requireClientCertificate="true" />
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding name="CertificateBindingConfig" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
				<binding name="MtomCertificateBindingConfig" sendTimeout="00:10:00" receiveTimeout="00:10:00"
       messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="1000000000">
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
				<binding name="UsernameBindingConfig">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName"/>
						<!--<transport clientCredentialType="Certificate"/>-->
					</security>
				</binding>
				<binding name="MtomUsernameBindingConfig" messageEncoding="Mtom" transferMode="Streamed">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName"/>
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
				<binding name="ExternalBasicHttpBindingConfig" sendTimeout="00:10:00" maxReceivedMessageSize="1000000000" />
				<binding name="MtomExternalBasicHttpBindingConfig" sendTimeout="00:10:00" receiveTimeout="00:10:00"
       messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="1000000000" />
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="MessageWindowsBindingConfig" sendTimeout="00:10:00"
				  maxReceivedMessageSize="1000000000">
					<security mode="Message">
						<!--follow the steps below to setup kerberos authentication: 
                1. in the service config file:
                  1.1. at the binding config, set negotiateServiceCredential="false" establishSecurityContext="false";  
                  1.2. run the service under default service account (e.g. localSystem or network service) or other domain account; 
                        in the latter case, an SPN needs to be setup for the domain account in AD using setspn.exe tool. 
                        refer to http://marbie.wordpress.com/2008/05/30/kerberos-delegation-and-service-identity-in-wcf/ for detail.
                2. in the client config file:
                  2.1. at the binding config, set negotiateServiceCredential="false" establishSecurityContext="false"; 
                  2.2. at the endpoint config, set the correct SPN of the service account as endpoint identity; e.g. 
                       <identity>
                          <servicePrincipalName value="host/machinename.itron.com"/>
                        </identity>
            -->
						<!--<message clientCredentialType="Windows" negotiateServiceCredential="false" establishSecurityContext="false"/>-->
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="DefaultClientBehavior" >
					<dataContractSerializer maxItemsInObjectGraph="1000000"/>
				</behavior>
				<behavior name="CertificateBehavior">
					<clientCredentials>
						<clientCertificate findValue="CN=OpenWayDemoMdmClient, OU=DO_NOT_TRUST, O=OpenWay Testing, L=Raleigh, S=NC, C=US"
        storeLocation="CurrentUser"
        storeName="My"
        x509FindType="FindBySubjectDistinguishedName" />
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="JobManagerInternalBehavior">
					<serviceMetadata />
					<serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"
       maxConcurrentInstances="1000" />
					<serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
       includeExceptionDetailInFaults="false" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
				<behavior name="DefaultBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>